*{

    box-sizing: border-box;
}

body {
    background-color: black;
}
#home {
    margin: -1px -1px 0 -1px;
    padding: 20px 0;
    background-color:#6a5acd ;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#home header {
    padding-left: 2cm;
}

#home nav {
    padding-right: 1cm;
}
#home nav button {
    color: lightgray;
    background-color: #3b0a57;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#home nav button:hover{
    color: white;
    font-weight: bold;
    background-color: purple;
    text-decoration: underline;
}
/* ตีสองยี่สิบ ไปกันต่ออออ! */
#temperature, #weight, #distance {
    display: flex;
    justify-content: center;
}
figure {

    width: 200px;
    text-align: center;

}
figure img {
    width: 200px;
}

figcaption {
    color: #333;
    font-size: 17px;
    text-align: center;
}

article button {
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 40px;
    background-color: lightgreen;
    padding-left: 15px;
    padding-right: 15px;
}

article button:hover {
    cursor: pointer;
}

.b {
    border-top-style: solid;
    border-top-width: 20px;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    min-height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.temperature {
    border-top-color: green;
}
.weight {
    border-top-color: coral;
}
.distance {
    border-top-color: cyan;
}

legend {
    font-size: 30px;
    font-weight: bolder;
}

.iconbutton {
    width: 40px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    border-radius: 100%;
    position:fixed;
    left: 0;
    bottom:40px;
}
.iconbutton img {
    width: 30px;
}

footer {
    background-color: lightpink;
    margin-top: 20px;
}